//background
$background-color-primary: #ffffff;
$background-color-secondary: #f5f5fa;
$background-color-main: #333365;

//text
$color-text-primary: #000000;
$color-text-secondary:#FFFFFF;
$color-text-tertiary:  #323264;
$color-text-quaternary: #B3B3BA;
$color-text-hover: #24A3FF;
$color-text-active: #F0145A;

//border
$border-color: 4px Solid #E6E6F0;

//font-size:
$font-weight-primary: 400;
$font-weight-secondary: 700;

.dfb {
    display: flex;
    flex-wrap: wrap;
}