//background
$background-color-primary: #ffffff;
$background-color-secondary: #f5f5fa;
$background-color-main: #333365;

//text
$color-text-primary: #000000;
$color-text-secondary:#FFFFFF;
$color-text-tertiary:  #323264;
$color-text-quaternary: #B3B3BA;
$color-text-active: #24A3FF;
$color-text-hover: #F0145A;

//border
$border-color: 4px Solid #E6E6F0;