@import "destyle";
@import "mixins";
@import "vars";

body {
    font-family: 'Montserrat';
    font-weight: $font-weight-primary;
    color: $color-text-primary;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: $background-color-primary;
}

.header_container {
    display: grid;
    grid-template-areas: "logo nav-wrapper";
}

.logo {
    grid-area: logo;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 6px;

    &__img {
        display: block;
        margin-right: 4px;
    }

    &__text {
        font-size: 36px;
        line-height: 44px;
        color: $color-text-tertiary;
    }
}

.nav-wrapper {
    grid-area: nav-wrapper;
    display: grid;
    grid-template-areas: 
        "contacts"    
        "nav";
    margin-left: auto;
    justify-items: end;
    align-items: end;
    row-gap: 16px;
}

.nav {
    grid-area: nav;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 15px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        color: $color-text-hover;
        font-weight: $font-weight-secondary;
        font-size: 16px;
        line-height: 20px;

        &--active {
            color: $color-text-active;
            border-bottom: 2px Solid $color-text-active;
        }
    }

    &__link:hover {
        border-bottom: 2px Solid $color-text-hover;
    }

    &__link--active:hover {
        border-bottom: 2px Solid $color-text-active;
    }
}

.contacts {
    grid-area: contacts;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__item {
        margin-right: 6px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item--lang {
        margin-right: 0;
    }

    &__link {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        color: $color-text-quaternary;
    }

    &__link--lang{
        font-weight: $font-weight-secondary;
        padding: 5px 7px 5px 7px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
    }

    &__link--active {
        background-color: $color-text-active;
        border-radius: 8px;
        color: $color-text-secondary;
    }

    &__link--tel {
        font-weight: $font-weight-secondary;
        
    }

    &__img {
        display: block;
    }
}

.link {
    display: block;
}

.intro_container {
    @extend .dfb;
}

.intro {
    padding: 60px 0 60px 0;

    &__wrap {
        margin-right: 30px;
    }

    &__title {
        color: $color-text-active;
        font-weight: $font-weight-secondary;
        font-size: 38px;
        line-height: 46px;
        width: 662px;
        margin-bottom: 28px;
    }

    &__text {
        width: 662px;
        font-size: 19px;
        line-height: 30px;
    }
}

.second-line {
    background-image: url(../images/teams.jpg);
    background-position: center;
    background-size: cover;
    padding: 163px 0 158px 0;
    margin-left: auto;
    margin-right: auto;

    &__wrap {

    }
    &__text {
        font-weight: $font-weight-secondary;
        font-size: 96px;
        line-height: 117px;text-align: center;
        letter-spacing: 63px;
        text-transform: uppercase;
        color: $color-text-secondary;
        opacity: 0.8;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    }
}